@import "variables";
@import "mixins";
@import "offcanvas";
@import "setting-slick";

body {
  font-family: Poppins,sans-serif;
}

.fixed-top {
  position: absolute;

  }
section {
  padding: 100px 0 0 0;
}

.img-round {
  border-radius: 5px;
}

.navbar {
  background-color: #fff;
  transition: .3s ease-in-out;
  padding: 0;
  height: 80px;
  box-shadow: 0 0 5px #9e9e9e69;

  &.fixed {
    height: 60px;
    background-color: $white;
    transition: .3s ease-in-out;
  }

  .container {
    padding: 0px 100px;
  }
  
  .contact {
    background: $blues;
    padding: 20px;
    color: #fff;
    display: inline-grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    align-items: center;
    
    .nav-link {
      color: #fff;
    }
  }

  .telephone {
    justify-content: center;
    align-items: center;
    display: flex;
    color: $blues;
  }

  .fa {
    font-size: 1.2rem;
  }
}

.navbar-contact {
  display: inline-grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 0;
}

.nav-item {
  padding: 0 12px;
}

.nav-link {
  transition: .3s ease-in-out;
  font-weight: 600;
  font-size: 16px;
  text-transform: capitalize;
  color: #33495f;


  &.fixed-color {
    color: $black;
    transition: .3s ease-in-out;
  }

  &:hover {
    color: $blues;
    border-bottom: 1px solid $blues;
  }
}

.navbar-brand {
  width: 150px;

  img {
    width: 100%;
  }
}

.navbar-collapse {
  text-align: center;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.nav-top__header {
  width: 100%;
  background-color: $lightBlack;
  padding: 10px;
  transition: .3s ease-in-out;

  &.nav-top__header--detele {
    display: none !important;
    transition: .3s ease-in-out;
  }
}

.nav-top__content {
  padding: 0 100px;
}



.main-banner {
  position: relative;
  overflow: hidden;
  margin-top: -80px;

  #wave {
    
  }

  .main-banner__item {
    position: relative;
  }

  .mask {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4);

    .main-banner__text {
      position: absolute;
      top: 40%;
      width: 55%;
      left: 8%;


      .main-banner__title {
        p {
          padding: 0;
          color: $white;
          font-size: 3rem;
          font-weight: 800;
          line-height: 1;
          margin: 0;
          font-family: Poppins,sans-serif;
        }

        span {
          padding: 0 25px;
          color: $white;
          font-size: 60px;
          font-weight: 500;
          line-height: 1;
          margin: 0;
        }
      }

      .main-banner__description {
        padding: 0;
        color: #fff;
        font-size: 1.2rem;
        line-height: 1.2;
        margin: 15px 0 0 0;
      }
    }
  }

  .main-banner__img {
    width: 100%;
    height: 100vh;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
.main-info {
  text-align: center;
}
.main-title__general {
  position: relative;
  text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;

  &:before {
    content: '';
    width: 50px;
    height: 2px;
    position: absolute;
    background:  $blues;
    border-radius: 50px;
    margin-top: -40px;
  }  
}
.main-title__general--start {
  text-align: start;
  display: inherit;
}


.masonry-with-columns {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(4,auto);
  grid-gap:30px;

  .service {
    // width: 315px;
    &:nth-child(1){
      grid-column: 1 / 3;
      grid-row: 1 / 4;
      margin-top: 70px;

    }

    &:nth-child(2){
      grid-column: 3 / 5;
      grid-row: 1 / 2;
    }
    &:nth-child(3){
      grid-column: 5 / 7;
    
      grid-row: 1/2;
      margin-top: -80px;
   
    }
    &:nth-child(4){
      grid-column: 3/5;
    }
    &:nth-child(5){
      grid-column: 5/7;
      margin-top: -80px;
   
    }
  }
  .main-service__card {
    height: 334px;
    width: 100%;
    overflow: hidden;
    position: relative;

   .main-service__title {
      color: #fff;
      position: absolute;
      bottom: 25px;
      margin-left: 12px;

      p {
        font-size: .9rem;
        line-height: 0;
      }
    }
  }
  .main-service__img {
    height: 350px;
    object-fit: cover;
    background-position: center!important;

    // background-attachment: fixed!important;
    // object-fit: cover;
    // background-size: auto!important;
    // background-repeat: no-repeat!important;
    // width: 100%;
 
  }

  .main-mask__service {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    // background: rgb(2,0,36);
    // background: linear-gradient(180deg, rgba(2,0,36,0) 0%, rgba(0,65,233,1) 100%);
    background: linear-gradient(180deg, rgba(2, 0, 36, 0) 0%, #0057b3 100%);
  }

  .main-mask__service--grad {
    // background: linear-gradient(180deg, rgba(11, 92, 180, 0.85) 0%, #0057b3 100%);
    background: #0057b3;
  }

  .main-description__service {
    color: #fff;
    bottom: 0;
    position: absolute;
  }


.hover{
  width: 100%;
  position: absolute;
  top:0; right: 0; left: 0; bottom: 0;
  margin: auto;

  }

.overlay {
  width: 100%;
  height: 100%;
  
  // display: grid;
  // grid-template-columns: 1fr;
  // grid-template-rows: 1fr 2fr 2fr 1fr;
  
  background: $blues;
  color: #fff;
  opacity: 0;
  transition: all 0.5s;

}


.items {
  padding-left: 20px;
  letter-spacing: 1px;

  p {
    font-size: 1rem;
    line-height: 1.5;
    color: #fff;
  }
}

.head {

  position: absolute;
  bottom: 0;
  transform: translateY(40px);
  transition: all 0.7s;
  hr {
    display: block;
    width: 0;
    
    border: none;
    border-bottom: solid 2px red;
    
    position: absolute;
    bottom: 0; left:20px;
    
    transition: all .5s;
  }
}

.cart {
  font-size: 12px;
  opacity: 0;
  letter-spacing: 1px;
  font-family: 'Lato', sans-serif;
  transform: translateY(40px);
  transition: all 0.7s;
  i {
    font-size: 16px;
  }
  span {
    margin-left: 10px;
  }
}

.hover:hover .overlay {
  opacity: 1;
  & .head {
    transform: translateY(0px);
    position: absolute;
    bottom: 0;
  }
  
  & hr {
    width: 75px;
    transition-delay: 0.4s;
  }
  
  & .price {
    transform: translateY(0px);
    transition-delay: 0.3s;
    opacity: 1;
  }
  
  & .cart {
    transform: translateY(0px);
    transition-delay: 0.6s;
    opacity: 1;
  }
}

}

.main-parallax {
  background-image: url('http://www.clinicadentalorive.com/wp-content/uploads/2015/02/Clinica-dental-orive-e1423004103497.jpg');
  background-size: cover;
  height: 36vh;
  background-attachment: fixed;
  position: relative;
  background-position: center;

  margin-top: 100px;

  .overlay-parallax  {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(180deg, rgba(2, 0, 36, 0) 0%, #0057b3 100%);
    opacity: .5;
  }
}

.main-promo__content {
  h3 {
    position: relative;
    background-color: #3988d7;
    color: #fff;
    font-size: 1rem;
    line-height: 50px;
    font-weight: 500;
    letter-spacing: 1px;
    border-radius: 8px 8px 0 0;
    text-align: center;
    text-transform: capitalize;
  }
  .main-promo__body {
    background: #f9f9f9;
  }

  .btn-promo {
    width: 352px;
    background-color: #ededed;
    color: #000;
    text-transform: capitalize;
    border-radius: 0 0 8px 8px;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    /* width: 100%; */
    outline: 0;
    line-height: 2em;
    font-weight: 500;
    box-sizing: border-box;
    text-align: center;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    margin: 0;
    -webkit-transition: color .2s ease-out,background-color .2s ease-out,border-color .2s ease-out;
    -moz-transition: color .2s ease-out,background-color .2s ease-out,border-color .2s ease-out;
    transition: color .2s ease-out,background-color .2s ease-out,border-color .2s ease-out;
    padding: 16px 9px;
    font-size: 14px;
    font-family: Poppins,sans-serif;

    &:hover {
      background-color: #33b3e0;
      color: #fff;
    }
  }
  
}

.main-promo__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;

}

.text-align {
  text-align: center;
}

.main-promo__content__body {
  padding: 20px;
  position: relative;
  height: 330px;

  

  ul {
    p{
      font-size: 1rem;
      color: #5655c4;
      margin: 0;
      font-weight: 400;
    }
  }

  ul li {
    padding: 7px 15px;
    color: #6e6e6e;
    font-weight: 100;
    font-size: .9rem;
  }

  p{
    text-align: center;
    font-size: 3rem;
    font-weight: 600;
  }

  span {
    position: absolute;
    vertical-align: super;
    padding-left: 65px;
    top: 23px;
    bottom: 2px;
    font-size: 30px;
    line-height: 1em;
    font-weight: 500;
    color: #a2a2a2;
  }
}

.main-horario__content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 30px;

  p{
    font-size: 1rem;
    font-weight: 600;
  }
}
.horario__body {
  color: white;
  z-index: 9;
}

// footer

.main-footer {


  iframe {
    overflow: hidden;
    width: 100%;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .main-footer__map {
    display: none;
  }
}

@media (min-width: 0px) and (max-width: 767px) {
  .main-footer__map {
    display: none;
  }
}

.main-footer__content {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-gap: 20px;

  ul {
    list-style: none;
    display: flex;
    padding-left: 25px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .main-footer__content {
    grid-template-columns: 50% 50%;
  }
}

@media (min-width: 0px) and (max-width: 767px) {
  .main-footer__content {
    grid-template-columns: 100%;
  }
}

.main-footer__content-contact, .main-footer__dates {
  display: flex;
  flex-direction: column;
}
@media (min-width: 0px) and (max-width: 767px) {
  .main-footer__contact {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.main-footer__contact a {
  color: gray;
  font-size: 17px;
  margin-bottom: 10px;
  text-decoration: none;
  transition: 0.3s ease-in-out;

  &:hover {
    transition: 0.3s ease-in-out;
    color: #33b3e0;
    text-decoration: none;
  }
  i {
    margin-right: 10px;
  }
}

.main-footer__redes a {
  color: #3988d7;
  font-size: 2rem;
  margin-right: 10px;
}

.main-footer__info {
  display: flex;
  flex-direction: column;
}

.main-footer__title {
  font-size: 30px;
  font-weight: 700;
}

.main-footer__subtitle {
  font-size: 17px;
  font-weight: 600;
  margin-bottom: 15px;
  color: #33b3e0;
}

.main-footer__description {
  color: gray;
  font-size: 17px;
  margin-bottom: 30px;

}

.form-control {
  width: 100%;
  margin: 0 0px 20px;
  height: 45px;
  padding: 6px 15px;
  border-radius: 5px;
  outline: none;
  border: none;
  background: #F6F7F9;
  color: #33b3e0;
  font-size: 14px;

  &:focus {
    background: rgba(57, 136, 215, 0.1);
    border-color: transparent !important;
    outline: 0;
    box-shadow: 0 0 0 0.2rem transparent !important;
  }
}

.main-footer__copy {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 50px;
  background: #3988d7;
  color: #fff;
  align-items: center;
  p {
    margin: 0;
    padding: 10px;
  }

  a {
    color: #fff;
    text-decoration: none;

    &:hover {
      text-decoration: none;
      color:#33495f;
    }
  }
  img {
    width: 5%;
  }
}

@media (min-width: 0px) and (max-width: 767px) {
  .main-footer__form {
    margin-top: 30px;
  }
}

.main-footer__logo {
  width: 150px;
  margin-left: -20px;
  margin-top: 20px;
  display: none;
  img {
    width: 100%;
  }
}

.btn-map {
  background: #3988d7;
    padding: 12px 15px;
    width: 130px;
    color: #fff;
    border-radius: 8px;
    text-align: center;
    cursor: pointer;
    font-size: .9rem;
    border: 1px solid #d3e1f6;
}

.btn-map:hover {
  background: #fff;
    color: #3988d7;
 
}
.main-footer__redes {
  margin-bottom: 30px;
}

.main-footer{
  margin-top: 100px;
}

.flaticon-teeth:before {
  font-size: 5rem;
}