!!!
%html{lang: "en"}
  %head
    %meta{charset: "UTF-8"}/
    %meta{content: "width=device-width, initial-scale=1.0", name:"viewport"}/
    %title Clinica dental Vitalmed
    %link{rel: "stylesheet", href:"assets/css/bootstrap.min.css"}/
    %link{rel: "stylesheet", href:"assets/css/main.css"}/
    %link{rel: "stylesheet", href:"assets/css/slick.css"}/
    %link{rel: "stylesheet", href:"assets/css/slick-theme.css"}/
    %link{rel: "stylesheet", href:"assets/css/font-awesome.css"}/
    %link{rel: "stylesheet", href:"assets/fonts/flaticon.css"}/

    %link{rel: "stylesheet", href:"https://unpkg.com/boxicons@2.0.3/css/boxicons.min.css' rel='stylesheet"}/

  %body

    %header   
      %nav.navbar.navbar-expand-md.fixed-top.navbar-fixed-js
        .container
          .main-brand
            %a.navbar-brand{:href => "#"}
              %img#iso{:src => "assets/img/logo.jpeg"}/
            %button.navbar-toggler.p-0.border-0{"data-toggle" => "offcanvas", :type => "button"}
              %span.navbar-toggler-icon
          .navbar-collapse.offcanvas-collapse
            %ul.navbar-nav
              %li.nav-item
                %a.nav-link{:href => "#"} Inicio
              %li.nav-item
                %a.nav-link{:href => "#"} Servicios
              %li.nav-item
                %a.nav-link{:href => "#"} Noticias
              %li.nav-item
                %a.nav-link{:href => "#"} Horario de atencion
              -# %li.nav-item
              -#   %a.nav-link{:href => "#"} 
              -#     %i.fa.fa-linkedin
        %ul.navbar-contact
          %li.nav-item.telephone 
            %i.fa.fa-phone{"aria-hidden" => "true"}
            %a.nav-link{:href => "#"} 965526991
          %li.nav-item.contact{"data-target" => "#exampleModal", "data-toggle" => "modal"}
            %i.fa.fa-address-book-o{"aria-hidden" => "true"}
            %a.nav-link{:href => "#"} Contactar
           


    .main-banner
      %svg#wave{:height => "100", :preserveaspectratio => "none", :version => "1.1", :viewbox => "0 0 100 100", :width => "100%", :xmlns => "http://www.w3.org/2000/svg"}
        %path{:d => "M0 0 C 50 100 80 100 100 0 Z"}

      .main-banner__content
        .main-banner__item
          .mask
            .main-banner__text
              .main-banner__title
                %p Profesionalismo, salud y confianza
              .main-banner__description
                %p Realizamos nuestro trabajo con responsabilidad profesionalismo y pasión.
               
          .main-banner__img
            %img{ :src => "https://images.unsplash.com/photo-1486049252259-45184399c5b2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=800"}/
        .main-banner__item
          .mask
            .main-banner__text
              .main-banner__title
                %p Realizamos nuestro trabajo con responsabilidad profesionalismo y pasión.
              .main-banner__description
                %p 
          .main-banner__img
            %img{ :src => "https://images.unsplash.com/photo-1544819616-8b86befe568c?ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80"}/

    %section.main-info.container
      %h2.main-title__general Vitalmed Clínica dental 
      %p.container En Clínica dental Vitalmed entregamos servicios Odontologicos de calidad a precios accesibles para todas las familias. Realizamos nuestro trabajo con responsabilidad, profesionalismo y pasión.

    %section.main-service.container
      .masonry-with-columns
        %div.service
          %h2.main-title__general.main-title__general--start Nuestros servicios
          %p Atención dental en múltiples áreas
          %div.main-service__card
            .main-mask__service
              .main-service__title
                %p correcta salud dental
                %h3 Restauraciones
              .hover
                .overlay
                  .items.head
                    %span.flaticon-teeth
                    %p Las restauraciones son la rehabilitación estética del diente, para mantener la correcta salud dental.Realizate tus restauraciones desde los $21.510
            .main-service__img{:style => "background:url(http://ultrawhite.com.ar/img/img-tratamientos_restauraciones-01.jpg)"}
           
        %div.service
          %div.main-service__card
            .main-mask__service
              .main-service__title
                %p sonrisa perfecta
                %h3 Endodoncias
              .hover
                .overlay
                  .items.head
                    %span.flaticon-dentist
                    %p Lucir una sonrisa perfecta es posible pagando sólo $29.990 mensual
            .main-service__img{:style => "background:url(https://images.unsplash.com/photo-1468493858157-0da44aaf1d13?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=751&q=80)"}
        %div.service
          %div.main-service__card
            .main-mask__service
              .main-service__title
                %p por sólo $29.990 mensual
                %h3 Ortodoncia
              .hover
                .overlay
                  .items.head
                    %span.flaticon-dentist-1
                    %p Lucir una sonrisa perfecta es posible pagando sólo $29.990 mensual.
            .main-service__img{:style => "background:url(https://c2.staticflickr.com/6/5484/30530019044_65c7d864fc_z_d.jpg)"}
        %div.service
          %div.main-service__card
            .main-mask__service
              .main-service__title
                %p  higiene bucal
                %h3 Limpiezas dentales
              .hover
                .overlay
                  .items.head
                    %i.fa.fa-shopping-cart
                    %p Mantener una buena higiene bucal desde los $9.900
            .main-service__img{:style => "background:url(https://clinicasrodriguezalacreu.com/wp-content/uploads/tratamiento-endodoncia.jpg)"}
        %div.service
          %div.main-service__card
            .main-mask__service
              .main-service__title
                %p  Dientes más blancos
                %h3 Blanqueamientos
              .hover
                .overlay
                  .items.head
                    %span.flaticon-dentist-1
                    %p Puedes tener tus dientes más blancos en una sesión, desde los $34.990
            .main-service__img{:style => "background:url(https://www.odontolightbh.com.br/wp-content/uploads/2018/08/Clareamento-Dental-%C3%A0-Laser-e1533923203485.png)"}



    %section.main-promo.container
      %h2.main-title__general Promociones
      %p.text-align ¡Enterate y aprovecha nuestras mejores ofertas! 
      .main-promo__content
        .main-promo__grid
          .main-promo__body
            %h3 ¡Sólo por agosto!
            .main-promo__content__body
              %span $
              %p 9.900
              %ul
                %li Limpieza dental boca completa
                %li incluye eliminación del sarro a través de un ultrasonido
                %li Eliminación de las manchas amarillas simples( generadas por café, té, cigarro) a través de la profilaxis
            %a.btn-promo{:href => "#"} Contactar  

          .main-promo__body
            %h3 ¡Super rebaja!
            .main-promo__content__body
              %span $
              %p 90.00
              %ul
                %p Ahorra cancelando el plan anual de ortodoncia.
                %li  Estudio inicial
                %li Instalación de los frenillos(ambas arcadas) 
                %li controles durante un año fecha cronómetro.
            %a.btn-promo{:href => "#"} Contactar    

          .main-promo__body
            %h3 ¡Ortodoncia para todos!
            .main-promo__content__body
              %span $
              %p 29.990
              %ul
                %li Instalación de frenillos costo $0
                %li Sólo cancelas mensualidades de $29.990
                %li no se cancelada nada extra por instalación de los frenillos
                %li Llámanos para agendar tu evaluación gratis.
            %a.btn-promo{:href => "#"} Contactar  
    %section.main-parallax
      .overlay-parallax  
      .main-horario__content.container
        .horario__body 
          %h2.main-title__general.main-title__general--start Horario de servicio
          %p Visítanos
        .horario__body 
          %i.fa.fa-phone
          %p Lunes - Viernes
          %span 10:00 a. m. - 20:00 p. m.
        .horario__body 
          %i.fa.fa-phone 
          %p Sábado
          %span 9:00 a. m. - 13:00 p. m.
        .horario__body 
          %i.fa.fa-phone 
          %p Domingo
          %span cerrado
          
    %footer.main-footer
      .container
        %h2.main-title__general Contactar
        %p.text-align 
        .main-footer__content
          .main-footer__contact
            .main-footer__info
              .main-footer__about
                .main-footer__subtitle
                 
          

              .main-footer__content-contact
                .main-footer__dates
                  %a.mr-3{:href => "tel:+569 965526991", :target => "_blank"}
                    %i.fa.fa-circle-o
                    %span Ahumada 11, of 407. Santiago Centro. Metro U.Chile 
                    %ul
                      %li 965526991
                  %a{:href => "tel:+569 965526991"}
                    %i.fa.fa-circle-o
                    %span Las bellotas 199 of 101, Providencia. Metro los Leones. 
                    %ul
                      %li 946485283
                .main-footer__redes
                  %a{ href: 'https://www.facebook.com/ClinicaVitalmed/' }
                    %i.fa.fa-facebook 
                  %a{ href: 'https://twitter.com/vitalmed?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor' }
                    %i.fa.fa-twitter
                  %a{ href: 'https://www.youtube.com/playlist?list=UUmL2UQ6DBdQ0iOFc7LXJ2Jw' }
                    %i.fa.fa-youtube
                %span.btn-map{"data-target" => "#exampleModalCenter", "data-toggle" => "modal"}
                  Ubicanos
          .main-footer__form
            .main-footer__subtitle
            
            %form
              .form-group
                %input#formGroupExampleInput.form-control{:placeholder => "Nombre", :type => "text"}/
              .form-group
                %input#formGroupExampleInput2.form-control{:placeholder => "Email", :type => "text"}/
              .form-group
                %input#formGroupExampleInput2.form-control{:placeholder => "Asunto", :type => "text"}/
              .form-group
                %input#formGroupExampleInput2.form-control{:placeholder => "Mensaje", :type => "text"}/
              .btn-box.float-right
                %button.btn-map
                  Enviar
      .main-footer__copy
        %p
          Todos los derechos Reservados
        %a{:href => "http://cmarketing.cl/"}  
          Contact Marketing
          %img(src="assets/img/Logo_white.png" alt="")/



      


   
          
      / Modal cobtact
      #exampleModal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "exampleModalLabel", :role => "dialog", :tabindex => "-1"}
        .modal-dialog{:role => "document"}
          .modal-content
            .modal-header
              %h5#exampleModalLabel.modal-title Modal title
              %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
                %span{"aria-hidden" => "true"} ×
            .modal-body
              \...Modal cobtact
            .modal-footer
              %button.btn.btn-secondary{"data-dismiss" => "modal", :type => "button"} Close
              %button.btn.btn-primary{:type => "button"} Save changes

      / Modal mapa
      #exampleModalCenter.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "modal-map", :role => "dialog", :tabindex => "-1"}
        .modal-dialog.modal-dialog-centered{:role => "document"}
          .modal-content
            .modal-header
              %h5#exampleModalLongTitle.modal-title A su disposición cuando nos necesite
              %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
                %span{"aria-hidden" => "true"} ×
            .modal-body
              %iframe{:allowfullscreen => "", :frameborder => "0", :height => "450", :src => "https://www.google.com/maps/embed?pb=!1m26!1m12!1m3!1d32155409.480664782!2d-84.14567923276638!3d-10.324200147322166!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m11!3e6!4m3!3m2!1d11.6843759!2d-70.186673!4m5!1s0x9662c5a127070d79%3A0x5f0822a1dd4e03bc!2sPaseo%20Ahumada%2011%2C%20Santiago%2C%20Regi%C3%B3n%20Metropolitana%2C%20Chile!3m2!1d-33.4431533!2d-70.6503662!5e0!3m2!1ses-419!2sve!4v1567784262631!5m2!1ses-419!2sve", :style => "border:0;", :width => "600"}

        


        
    %script{src: "assets/js/jquery.min.js"}
    %script{src: "assets/js/bootstrap.min.js"}
    %script{src: "assets/js/slick.min.js"}
    %script{src: "assets/js/setting-slick.js"}
    %script{src: "assets/js/main.js"}
    
